:root {
  --off-white: #fafafa;
}

.body {
}

.nav {
  /* background-color: var(--off-white); */
  background-color: black;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-logo {
  height: 60px;
  width: 60px;
  color: white;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.section {
  color: white;
  background-color: black;
  font-family: "Spectral", sans-serif;
  border: 1px solid white;
  height:1000px;
}

.section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.projects-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.card {
  border: 1px solid white;
  width: 45%;
}

.sectionOne {
  background-color: black;
  border: 2px solid black;
  color: white;
}

.projectImage {
  width: 100%;
}

.projectCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10%;
  margin-bottom: 10%;
}

.card {
  margin-top: 7%;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  overflow: hidden;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.nav-item {
  color: white;
}

.titleContainer {
  border: 2px solid white;
  display: flex;
}

.contact-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}
